
div{
    text-align: center;
    display: block;
}

h1 {
    font-size: 80px;
    font-family: Impact;
}

p {
    font-size: 35px;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    appearance: auto;
}


button:hover{
    background-color: #008000;
}